.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #78909c;
  color: white;
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  z-index: 9999;

}

.nav-bar h1 {
  width: 50%;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

.nav-bar .header-buttons {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

.nav-bar .header-buttons a {
  text-decoration: none;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar .header-buttons a button {
  text-decoration: none;
  width: 100%;
  height: 40%;
  margin: 1rem;
  background-color: #ff4444;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.nav-bar .header-buttons a button:hover{
  transform: scale(1.05,1.05);
}

.nav-bar .header-img {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.nav-bar .header-img .img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  
}

.nav-bar .header-img .img-container img{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  
}

.notelist {
  display: flex;
  justify-content: flex-end;
  background-color: #eceff1;
  padding-bottom: 30rem;
  margin-top: 5rem;
}

.form-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
}

.form-container .ui.card {
  background-color: #ff4444;
  width: 80%;
  margin-top: 5rem;
}

.form-container .ui.card h2 {
  color: white;
}

.form-container form .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .5rem;
}

.form-container form .ui.input {
  width: 70%;
  margin-bottom: .5rem;
}

.form-container button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0;
  margin-top: 2rem;
}

.form-container .extra.content {
  margin: 0;
}

.note-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.note-container .ui.card {
  width: 75%;
}

.note-container .ui.fluid.centered.card {
  width: 100%;
}

.note-container a {
  text-decoration: none;
  color: #ff4444;
}

.note-container .left.aligned.ui.sub.header {
  color: #78909c;
}

.angle.right.icon {
  color: #78909c;
}

.signup {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.signup .ui.card {
  width: 50%;
  margin: 4rem;
  padding-bottom: 2rem;
}

.signup .ui.card h2 {
  padding: 2rem;

}

.ui.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui.form .field {
  width: 70%;
}

.ui.form .button {
  background-color: #ff4444;
  color: white;
}

.ui.form .button:hover {
  transform: scale(1.05,1.05);
}

.loginform {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.loginform .ui.card {
  width: 50%;
  margin: 4rem;
  padding: 2rem;
}

.loginform .ui.card .donthave {
  margin-top: 2rem;
  margin-bottom: 0;
}

.loginform .ui.card .createone {
  margin: 1rem;
}

.homelink {
  text-decoration: none;
  color: white;
}

.nav-bar .homelink {
  width: 50%;
  height: 100%;
}

.nav-bar .homelink:hover{
  color: white;
}


.nav-bar .homelink h1 {
  width: 100%;
  padding: 2rem;
}
/* .noteform {
  background-color: #ff4444;
  color: white;
  width: 30%;
  height: 80vh;
  margin: 3rem;
  position: relative;
}

.noteform form {
  display: flex;
  flex-direction: column;
}

.notecard {
  background-color: white;
} */